body {
  padding: 0;
  margin: 0;
  font-family: "Playwrite CU", cursive;
}

.top-header {
  position: fixed; /*Corregir y agrupar con la barra naranja*/
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.938rem 0.938rem 0.938rem 0.938rem;
  background-color: rgb(99, 208, 255);
  box-sizing: border-box;
  font-size: 1.25rem;
  z-index: 1;
}

.barra-naranja {
  position: fixed;
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 115px 15px 15px 15px;
  background-color: rgb(253, 154, 17);
  transform: skew(0, -0.5deg);
  transform-origin: top left;
  box-shadow: 0 3px 10px gray;
  z-index: 1;
}

.barra-naranja-unfixed {
  position: static;
  padding: 100px 15px 15px 15px;
}

.logo {
  z-index: 1;
}

.contenedor-general img {
  max-width: 100%;
  height: 81.15vh;
  margin: 0;
  padding: 0;
  filter: grayscale(30%);
  filter: brightness(70%);
}

.campo-central {
  margin-bottom: 0.938rem;
  position: absolute;
  top: 35%;
  right: 15%;
  left: 65%;
  display: block;
  align-items: center;
  margin-bottom: 20px;
}

.boton {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  border: 0.063rem solid black;
  padding: 0.938rem 0.938rem 0.938rem 0.938rem;
  margin-bottom: 0.938rem;
  border-radius: 0.5rem;
  background-color: #00908e;
  max-width: 31.25rem;
  text-decoration: none;
  text-align: center;
  justify-content: space-between;
  box-shadow: 0 3px 10px gray;
}

.boton a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.boton:hover {
  background-color: #00c4be;
}

.campo-central ul {
  list-style: none;
  color: white;
}

.campo-central label {
  max-width: 60rem;
  font-weight: 3.75rem;
  margin-bottom: 0.5rem;
}

input[type="text"],
select {
  width: 100%;
  padding: 0.625rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.313rem;
  box-sizing: border-box;
}
