body {
  padding: 0;
  margin: 0;
}

.top-header {
  position: fixed; /*Corregir y agrupar con la barra naranja*/
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.938rem 0.938rem 0.938rem 0.938rem;
  background-color: rgb(99, 208, 255);
  box-sizing: border-box;
  font-size: 1.25rem;
}

.barra-naranja {
  position: fixed;
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 115px 15px 15px 15px;
  background-color: rgb(253, 154, 17);
  transform: skew(0, -0.5deg);
  transform-origin: top left;
  box-shadow: 0 3px 10px gray;
}

.barra-naranja-unfixed {
  position: static;
  padding: 150px 15px 15px 15px;
}

.logo {
  z-index: 1;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 75rem;
}
/* justify-content: space-between;*/
.Menu-Vertical a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.Menu-Vertical li {
  display: block;
  padding: 0.938rem 0.938rem 0.938rem 0.938rem;
  color: rgb(255, 255, 255);
}

.Menu-Vertical li:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 182, 80);
  border-radius: 0.313rem;
}

.Menu-Vertical {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  position: absolute;
  display: none;
  width: 8.125rem;
  background-color: rgb(253, 154, 17);
  border-radius: 0.313rem;
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}

/*SECCION PRODUCTOS*/
.contenedor-general {
}

.seccion-recetas {
  padding: 3.75rem 3.75rem 3.75rem 3.75rem;
  background-color: rgb(99, 208, 255);
  color: white;
  border-radius: 0.313rem;
  margin: 1.2rem;
  border: rgb(253, 154, 17);
  border-width: 3px;
  border-style: solid;
  box-shadow: 0 3px 10px gray;
  margin-bottom: 20px;
}

.seccion-recetas img {
  border-radius: 0.45rem;
  width: 80vh;
  border: rgb(255, 255, 255);
  border-width: 3px;
  border-style: solid;
  box-shadow: 0 3px 10px gray;
}

.cont-caja-blanca {
  border-radius: 0.45rem;
  background-color: rgb(255, 255, 255);
  border: rgb(253, 154, 17);
  border-width: 3px;
  border-style: solid;
  padding: 0.65rem 0.65rem 0.65rem 0.65rem;
  margin-bottom: 20px;
  color: black;
  box-shadow: 0 3px 10px gray;
}

.seccion-usuario {
  padding: 3.75rem 3.75rem 3.75rem 3.75rem;
  background-color: rgb(99, 208, 255);
  color: rgb(0, 0, 0);
  border-radius: 0.313rem;
  margin: 4rem 200px 4rem 200px;
  border: rgb(99, 208, 255);
  border-width: 3px;
  border-style: solid;
  box-shadow: 0 3px 10px gray;
  background-color: #ffffff;
}

.cont-sec-usuario {
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  background-color: rgb(182, 233, 255);
}

.contenedor-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 40px;
  padding: 0.938rem 0.938rem 0.938rem 0.938rem;
  text-decoration: none;
}

.contenedor-general li {
  text-decoration: none;
}

.seccion-ayuda {
  background-color: #ffd1a6;
  margin: auto;
  display: flex;
}

.seccion-ayuda .contenedor-general {
  padding: 3.75rem 3.75rem 3.75rem 3.75rem;
  background-color: rgb(99, 208, 255);
  color: rgb(0, 0, 0);
  border-radius: 0.313rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: rgb(99, 208, 255);
  border-width: 3px;
  border-style: solid;
  box-shadow: 0 3px 10px gray;
  background-color: #ffffff;
}

.campo {
  align-items: center;
  color: white;
  border: 0.063rem solid rgb(253, 154, 17);
  padding: 1.5rem;
  margin-bottom: 0.938rem;
  border-radius: 0.5rem;
  background-color: rgb(99, 208, 255);
  box-shadow: 0 3px 10px gray;
}

.campo label {
  display: block;
  font-weight: 3.75rem;
  margin-bottom: 0.5rem;
}

input[type="text"],
select {
  width: 100%;
  padding: 0.625rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.313rem;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgb(68, 68, 68);
}

.lista-checkbox,
.lista-radio {
  width: 100%;
  padding: 0.625rem;
  border: 0.063rem solid white;
  border-radius: 0.313rem;
  box-sizing: border-box;
  background-color: rgb(253, 154, 17);
  list-style: none;
  box-shadow: 0 3px 10px rgb(68, 68, 68);
}

option[value=""] {
  width: 100%;
  padding: 0.625rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.313rem;
  box-sizing: border-box;
}
