.top-header {
  position: fixed;
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.938rem 0.938rem 0.938rem 0.938rem;
  background-color: rgb(99, 208, 255);
  box-sizing: border-box;
  font-size: 1.25rem;
}

.divisor {
  color: rgb(255, 255, 255);
}

body {
  padding: 0 0.938rem 0 0;
  margin: 0;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 75rem;
}

.Menu-Vertical a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.Menu-Vertical li {
  display: block;
  padding: 0.938rem 0.938rem 0.938rem 0.938rem;
  color: rgb(255, 255, 255);
}

.Menu-Vertical li:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 182, 80);
}

.Menu-Vertical {
  padding: 0;
  position: absolute;
  display: none;
  width: 8.125rem;
  background-color: rgb(253, 154, 17);
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}

/*SECCION PRODUCTOS*/
.seccion-recetas {
  padding: 3.75rem 1.25rem;
  background-color: white;
}

.contenedor-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 40px;
  padding: 0.938rem 0.938rem 0.938rem 0.938rem;
  text-decoration: none;
}

.contenedor-general li {
  text-decoration: none;
}

.cont-recetas-texto {
  flex: 1;
}

.cont-recetas-texto h2 {
  color: red;
  margin-bottom: 0.938rem;
}

.cont-recetas-texto p {
  color: blue;
  margin-bottom: 0.938rem;
}

.cont-prod-imagen {
  flex: 1;
  text-align: center;
}

.cont-prod-imagen img {
  width: 100%;
  max-width: 31.25rem;
  height: 100%;
}

.campo {
  align-items: center;
  color: blue;
  border: 0.063rem solid black;
  padding: 0.938rem;
  margin-bottom: 0.938rem;
  border-radius: 0.5rem;
  background-color: rgb(218, 218, 218);
  max-width: 31.25rem;
}

.campo label {
  display: block;
  font-weight: 3.75rem;
  margin-bottom: 0.5rem;
}

input[type="text"],
select {
  width: 100%;
  padding: 0.625rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.313rem;
  box-sizing: border-box;
}

.lista-checkbox,
.lista-radio {
  width: 100%;
  padding: 0.625rem;
  border: 0.063rem solid #3d3d3d;
  border-radius: 0.313rem;
  box-sizing: border-box;
  background-color: rgb(117, 241, 255);
  list-style: none;
}

option[value=""] {
  width: 100%;
  padding: 0.625rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.313rem;
  box-sizing: border-box;
}
